@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .custom-blur {
    filter: blur(20px);
  }
}

.default-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #8f8f8f;
}

.default-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.default-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-enter-active,
.page-leave-active {
  transition: 0.3s ease all;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter-to {
  opacity: 1;
}
